--
-- PostgreSQL database dump
--

\restrict BOUdfHguPdCXnBTyrbsuYoZAoWARf3LZqegOMxdKr70uTm6hdegmFKxa6UMlK3O

-- Dumped from database version 18.2
-- Dumped by pg_dump version 18.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: audit_order_item_pricing_insert(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.audit_order_item_pricing_insert() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
  INSERT INTO order_item_pricing_audit (order_item_id, price_at_purchase, price_source)
  VALUES (NEW.id, NEW.price_at_purchase, NEW.price_source);
  RETURN NEW;
END;
$$;


ALTER FUNCTION public.audit_order_item_pricing_insert() OWNER TO postgres;

--
-- Name: get_product_unit_price(integer, integer); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.get_product_unit_price(p_product_id integer, p_qty integer) RETURNS numeric
    LANGUAGE plpgsql
    AS $$
DECLARE
  v_price NUMERIC;
  v_min_qty_wholesale INTEGER;
BEGIN
  -- Check for quantity tiers first
  SELECT unit_price INTO v_price
  FROM product_price_tiers
  WHERE product_id = p_product_id
    AND min_qty <= p_qty
    AND (max_qty IS NULL OR max_qty >= p_qty)
  ORDER BY min_qty DESC
  LIMIT 1;

  IF v_price IS NOT NULL THEN
    RETURN v_price;
  END IF;

  -- Check wholesale tier
  SELECT wholesale_price, min_qty_wholesale INTO v_price, v_min_qty_wholesale
  FROM products
  WHERE id = p_product_id;

  IF v_min_qty_wholesale IS NOT NULL AND p_qty >= v_min_qty_wholesale AND v_price IS NOT NULL THEN
    RETURN v_price;
  END IF;

  -- Return retail price
  SELECT retail_price INTO v_price FROM products WHERE id = p_product_id;
  RETURN v_price;
END;
$$;


ALTER FUNCTION public.get_product_unit_price(p_product_id integer, p_qty integer) OWNER TO postgres;

--
-- Name: lock_order_item_pricing_on_insert(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.lock_order_item_pricing_on_insert() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
  NEW.pricing_locked_at := now();
  RETURN NEW;
END;
$$;


ALTER FUNCTION public.lock_order_item_pricing_on_insert() OWNER TO postgres;

--
-- Name: prevent_order_item_pricing_update(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.prevent_order_item_pricing_update() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
  IF NEW.price_at_purchase IS DISTINCT FROM OLD.price_at_purchase THEN
    RAISE EXCEPTION 'Order item pricing is locked and cannot be modified';
  END IF;
  RETURN NEW;
END;
$$;


ALTER FUNCTION public.prevent_order_item_pricing_update() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: activity_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.activity_logs (
    id integer NOT NULL,
    user_id integer,
    action character varying(100) NOT NULL,
    entity_type character varying(50),
    entity_id integer,
    details jsonb,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.activity_logs OWNER TO postgres;

--
-- Name: activity_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.activity_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.activity_logs_id_seq OWNER TO postgres;

--
-- Name: activity_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.activity_logs_id_seq OWNED BY public.activity_logs.id;


--
-- Name: blog_posts; Type: TABLE; Schema: public; Owner: ecommerce_app
--

CREATE TABLE public.blog_posts (
    id integer NOT NULL,
    title character varying(255) NOT NULL,
    slug character varying(255) NOT NULL,
    excerpt text,
    content text NOT NULL,
    featured_image_url text,
    associated_product_id integer,
    status character varying(20) DEFAULT 'draft'::character varying NOT NULL,
    published_at timestamp with time zone,
    created_by_user_id integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT blog_posts_status_check CHECK (((status)::text = ANY ((ARRAY['draft'::character varying, 'published'::character varying])::text[])))
);


ALTER TABLE public.blog_posts OWNER TO ecommerce_app;

--
-- Name: blog_posts_id_seq; Type: SEQUENCE; Schema: public; Owner: ecommerce_app
--

ALTER TABLE public.blog_posts ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.blog_posts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categories (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    is_active boolean DEFAULT true,
    combo_discount_qty integer,
    combo_discount_price numeric(12,2),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT categories_combo_discount_qty_check CHECK (((combo_discount_qty IS NULL) OR (combo_discount_qty >= 1))),
    CONSTRAINT chk_categories_combo_pair CHECK ((((combo_discount_qty IS NULL) AND (combo_discount_price IS NULL)) OR ((combo_discount_qty IS NOT NULL) AND (combo_discount_price IS NOT NULL))))
);


ALTER TABLE public.categories OWNER TO postgres;

--
-- Name: categories_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.categories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.categories_id_seq OWNER TO postgres;

--
-- Name: categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.categories_id_seq OWNED BY public.categories.id;


--
-- Name: customer_purchases; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customer_purchases (
    id integer NOT NULL,
    customer_id bigint NOT NULL,
    order_id bigint,
    purchase_amount numeric(12,2) NOT NULL,
    purchase_date timestamp with time zone DEFAULT now() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.customer_purchases OWNER TO postgres;

--
-- Name: customer_purchases_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.customer_purchases_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.customer_purchases_id_seq OWNER TO postgres;

--
-- Name: customer_purchases_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.customer_purchases_id_seq OWNED BY public.customer_purchases.id;


--
-- Name: customer_visits; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customer_visits (
    id integer NOT NULL,
    customer_id bigint NOT NULL,
    sales_rep_id integer NOT NULL,
    visit_date timestamp with time zone DEFAULT now() NOT NULL,
    notes text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.customer_visits OWNER TO postgres;

--
-- Name: customer_visits_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.customer_visits_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.customer_visits_id_seq OWNER TO postgres;

--
-- Name: customer_visits_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.customer_visits_id_seq OWNED BY public.customer_visits.id;


--
-- Name: customers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customers (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(100),
    phone character varying(20),
    address text,
    city character varying(50),
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    customer_type character varying(20) DEFAULT 'normal'::character varying,
    route_id integer,
    sales_rep_id integer,
    last_purchase_date timestamp with time zone,
    total_purchases numeric(12,2) DEFAULT 0,
    location_id integer,
    CONSTRAINT customers_customer_type_check CHECK (((customer_type)::text = ANY ((ARRAY['normal'::character varying, 'route'::character varying])::text[])))
);


ALTER TABLE public.customers OWNER TO postgres;

--
-- Name: customers_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.customers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.customers_id_seq OWNER TO postgres;

--
-- Name: customers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.customers_id_seq OWNED BY public.customers.id;


--
-- Name: departments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.departments (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    contact_person character varying(150),
    phone character varying(50),
    email character varying(150),
    address text,
    notes text,
    payment_terms character varying(100),
    lead_time_days integer DEFAULT 0
);


ALTER TABLE public.departments OWNER TO postgres;

--
-- Name: departments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.departments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.departments_id_seq OWNER TO postgres;

--
-- Name: departments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.departments_id_seq OWNED BY public.departments.id;


--
-- Name: flash_sale_products; Type: TABLE; Schema: public; Owner: ecommerce_app
--

CREATE TABLE public.flash_sale_products (
    id integer NOT NULL,
    flash_sale_id integer NOT NULL,
    product_id integer NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.flash_sale_products OWNER TO ecommerce_app;

--
-- Name: flash_sale_products_id_seq; Type: SEQUENCE; Schema: public; Owner: ecommerce_app
--

ALTER TABLE public.flash_sale_products ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.flash_sale_products_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: flash_sales; Type: TABLE; Schema: public; Owner: ecommerce_app
--

CREATE TABLE public.flash_sales (
    id integer NOT NULL,
    name character varying(150) NOT NULL,
    description text,
    discount_type character varying(20) DEFAULT 'percentage'::character varying NOT NULL,
    discount_value numeric(10,2) NOT NULL,
    start_date timestamp with time zone NOT NULL,
    end_date timestamp with time zone NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_by_user_id integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT flash_sales_date_check CHECK ((end_date > start_date)),
    CONSTRAINT flash_sales_discount_type_check CHECK (((discount_type)::text = ANY ((ARRAY['percentage'::character varying, 'fixed'::character varying])::text[]))),
    CONSTRAINT flash_sales_discount_value_check CHECK ((discount_value >= (0)::numeric))
);


ALTER TABLE public.flash_sales OWNER TO ecommerce_app;

--
-- Name: flash_sales_id_seq; Type: SEQUENCE; Schema: public; Owner: ecommerce_app
--

ALTER TABLE public.flash_sales ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.flash_sales_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: locations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.locations (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    region_id integer NOT NULL,
    latitude numeric(10,8),
    longitude numeric(11,8),
    status character varying(20) DEFAULT 'active'::character varying,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT locations_status_check CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'inactive'::character varying])::text[])))
);


ALTER TABLE public.locations OWNER TO postgres;

--
-- Name: locations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.locations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.locations_id_seq OWNER TO postgres;

--
-- Name: locations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.locations_id_seq OWNED BY public.locations.id;


--
-- Name: order_item_pricing_audit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_item_pricing_audit (
    id bigint NOT NULL,
    order_item_id integer NOT NULL,
    price_at_purchase numeric(10,2),
    price_source text,
    calculated_at timestamp with time zone DEFAULT now(),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.order_item_pricing_audit OWNER TO postgres;

--
-- Name: order_item_pricing_audit_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.order_item_pricing_audit_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.order_item_pricing_audit_id_seq OWNER TO postgres;

--
-- Name: order_item_pricing_audit_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.order_item_pricing_audit_id_seq OWNED BY public.order_item_pricing_audit.id;


--
-- Name: order_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_items (
    id integer NOT NULL,
    order_id integer NOT NULL,
    product_id integer NOT NULL,
    quantity integer NOT NULL,
    price_at_purchase numeric(10,2) NOT NULL,
    line_total numeric(12,2),
    price_source text,
    pricing_locked_at timestamp with time zone DEFAULT now() NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.order_items OWNER TO postgres;

--
-- Name: order_items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.order_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.order_items_id_seq OWNER TO postgres;

--
-- Name: order_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.order_items_id_seq OWNED BY public.order_items.id;


--
-- Name: orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders (
    id integer NOT NULL,
    order_number character varying(50) NOT NULL,
    order_type character varying(50) DEFAULT 'normal'::character varying,
    customer_name character varying(100) NOT NULL,
    customer_phone character varying(20) NOT NULL,
    customer_location_id integer,
    sales_rep_id integer,
    total_amount numeric(10,2) NOT NULL,
    payment_status character varying(50) DEFAULT 'pending'::character varying,
    order_status character varying(50) DEFAULT 'pending'::character varying,
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    customer_id integer,
    receipt_html text,
    is_printed boolean DEFAULT false,
    printed_at timestamp with time zone,
    payment_state character varying(50) DEFAULT 'unpaid'::character varying,
    amount_paid numeric(12,2) DEFAULT 0 NOT NULL,
    due_date date,
    last_payment_date timestamp with time zone,
    customer_email character varying(255),
    delivery_address text,
    status_changed_at timestamp with time zone,
    CONSTRAINT orders_order_status_check CHECK (((order_status)::text = ANY ((ARRAY['pending'::character varying, 'processing'::character varying, 'dispatched'::character varying, 'completed'::character varying, 'cancelled'::character varying])::text[]))),
    CONSTRAINT orders_order_type_check CHECK (((order_type)::text = ANY ((ARRAY['normal'::character varying, 'route'::character varying])::text[]))),
    CONSTRAINT orders_payment_status_check CHECK (((payment_status)::text = ANY ((ARRAY['pending'::character varying, 'completed'::character varying, 'failed'::character varying, 'cancelled'::character varying])::text[])))
);


ALTER TABLE public.orders OWNER TO postgres;

--
-- Name: orders_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.orders_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.orders_id_seq OWNER TO postgres;

--
-- Name: orders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.orders_id_seq OWNED BY public.orders.id;


--
-- Name: payments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.payments (
    id integer NOT NULL,
    order_id integer NOT NULL,
    amount numeric(10,2) NOT NULL,
    payment_method character varying(50),
    payment_status_old character varying(50) DEFAULT 'pending'::character varying,
    transaction_id character varying(100),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    customer_phone character varying(20),
    merchant_request_id character varying(100),
    checkout_request_id character varying(100),
    mpesa_receipt_number character varying(100),
    result_code character varying(10),
    result_desc text,
    status character varying(50) DEFAULT 'pending'::character varying,
    requested_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    callback_received_at timestamp without time zone,
    completed_at timestamp without time zone,
    callback_data jsonb,
    mpesa_receipt character varying(100) DEFAULT NULL::character varying,
    method character varying(50) DEFAULT 'mpesa'::character varying,
    initiated_at timestamp without time zone,
    failure_reason character varying(255) DEFAULT NULL::character varying,
    expected_amount numeric(12,2),
    received_amount numeric(12,2),
    source character varying(40) DEFAULT 'manual'::character varying NOT NULL,
    reconciliation_status character varying(40) DEFAULT 'matched'::character varying NOT NULL,
    reconciled_at timestamp with time zone,
    manual_notes text,
    resolved_by_user_id integer
);


ALTER TABLE public.payments OWNER TO postgres;

--
-- Name: payments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.payments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.payments_id_seq OWNER TO postgres;

--
-- Name: payments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.payments_id_seq OWNED BY public.payments.id;


--
-- Name: product_price_tiers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_price_tiers (
    id bigint NOT NULL,
    product_id bigint NOT NULL,
    min_qty integer NOT NULL,
    max_qty integer,
    unit_price numeric(12,2) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT product_price_tiers_check CHECK (((max_qty IS NULL) OR (max_qty >= min_qty))),
    CONSTRAINT product_price_tiers_min_qty_check CHECK ((min_qty >= 1)),
    CONSTRAINT product_price_tiers_unit_price_check CHECK ((unit_price >= (0)::numeric))
);


ALTER TABLE public.product_price_tiers OWNER TO postgres;

--
-- Name: product_price_tiers_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.product_price_tiers_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.product_price_tiers_id_seq OWNER TO postgres;

--
-- Name: product_price_tiers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.product_price_tiers_id_seq OWNED BY public.product_price_tiers.id;


--
-- Name: products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    category_id integer NOT NULL,
    sku character varying(50) NOT NULL,
    image_path character varying(500),
    image_url text,
    current_stock integer DEFAULT 0,
    min_stock integer DEFAULT 10,
    retail_price numeric(10,2),
    wholesale_price numeric(10,2),
    cost_price numeric(12,2),
    is_active boolean DEFAULT true,
    min_qty_wholesale integer,
    requires_manual_price boolean DEFAULT false NOT NULL,
    department_id integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    min_wholesale_qty integer DEFAULT 10,
    is_combo_eligible boolean DEFAULT false,
    reorder_level integer DEFAULT 0 NOT NULL,
    CONSTRAINT chk_retail_price_required CHECK (((requires_manual_price = true) OR (retail_price IS NOT NULL))),
    CONSTRAINT products_cost_price_nonneg CHECK (((cost_price IS NULL) OR (cost_price >= (0)::numeric))),
    CONSTRAINT products_min_qty_wholesale_check CHECK (((min_qty_wholesale IS NULL) OR (min_qty_wholesale >= 1)))
);


ALTER TABLE public.products OWNER TO postgres;

--
-- Name: products_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.products_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.products_id_seq OWNER TO postgres;

--
-- Name: products_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.products_id_seq OWNED BY public.products.id;


--
-- Name: regions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.regions (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    latitude numeric(10,8),
    longitude numeric(11,8),
    status character varying(20) DEFAULT 'active'::character varying,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT regions_status_check CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'inactive'::character varying])::text[])))
);


ALTER TABLE public.regions OWNER TO postgres;

--
-- Name: regions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.regions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.regions_id_seq OWNER TO postgres;

--
-- Name: regions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.regions_id_seq OWNED BY public.regions.id;


--
-- Name: route_customer_accounts; Type: TABLE; Schema: public; Owner: ecommerce_app
--

CREATE TABLE public.route_customer_accounts (
    id integer NOT NULL,
    customer_id integer NOT NULL,
    username character varying(50) NOT NULL,
    password_hash character varying(255) NOT NULL,
    must_change_password boolean DEFAULT true NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    approved_by_user_id integer,
    approved_at timestamp with time zone DEFAULT now() NOT NULL,
    last_login_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.route_customer_accounts OWNER TO ecommerce_app;

--
-- Name: route_customer_accounts_id_seq; Type: SEQUENCE; Schema: public; Owner: ecommerce_app
--

ALTER TABLE public.route_customer_accounts ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.route_customer_accounts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: route_customer_application_events; Type: TABLE; Schema: public; Owner: ecommerce_app
--

CREATE TABLE public.route_customer_application_events (
    id bigint NOT NULL,
    application_id integer NOT NULL,
    event_type character varying(50) NOT NULL,
    event_label character varying(255) NOT NULL,
    event_notes text,
    actor_user_id integer,
    metadata_json jsonb DEFAULT '{}'::jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.route_customer_application_events OWNER TO ecommerce_app;

--
-- Name: route_customer_application_events_id_seq; Type: SEQUENCE; Schema: public; Owner: ecommerce_app
--

CREATE SEQUENCE public.route_customer_application_events_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.route_customer_application_events_id_seq OWNER TO ecommerce_app;

--
-- Name: route_customer_application_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ecommerce_app
--

ALTER SEQUENCE public.route_customer_application_events_id_seq OWNED BY public.route_customer_application_events.id;


--
-- Name: route_customer_application_files; Type: TABLE; Schema: public; Owner: ecommerce_app
--

CREATE TABLE public.route_customer_application_files (
    id bigint NOT NULL,
    application_id integer NOT NULL,
    file_type character varying(30) NOT NULL,
    original_name character varying(255) NOT NULL,
    stored_name character varying(255) NOT NULL,
    relative_path character varying(500) NOT NULL,
    mime_type character varying(100) NOT NULL,
    file_size bigint NOT NULL,
    uploaded_by_user_id integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT route_customer_application_files_file_size_check CHECK ((file_size >= 0))
);


ALTER TABLE public.route_customer_application_files OWNER TO ecommerce_app;

--
-- Name: route_customer_application_files_id_seq; Type: SEQUENCE; Schema: public; Owner: ecommerce_app
--

CREATE SEQUENCE public.route_customer_application_files_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.route_customer_application_files_id_seq OWNER TO ecommerce_app;

--
-- Name: route_customer_application_files_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ecommerce_app
--

ALTER SEQUENCE public.route_customer_application_files_id_seq OWNED BY public.route_customer_application_files.id;


--
-- Name: route_customer_applications; Type: TABLE; Schema: public; Owner: ecommerce_app
--

CREATE TABLE public.route_customer_applications (
    id integer NOT NULL,
    applicant_name character varying(100) NOT NULL,
    business_name character varying(150),
    email character varying(100) NOT NULL,
    phone character varying(20) NOT NULL,
    address text,
    region_id integer,
    location_id integer,
    requested_credit_limit numeric(12,2) DEFAULT 0 NOT NULL,
    submitted_via character varying(20) DEFAULT 'email'::character varying NOT NULL,
    form_reference text,
    admin_notes text,
    status character varying(20) DEFAULT 'pending'::character varying NOT NULL,
    reviewed_by_user_id integer,
    reviewed_at timestamp with time zone,
    approved_customer_id integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    is_printed boolean DEFAULT false NOT NULL,
    security_reviewed boolean DEFAULT false NOT NULL,
    finance_reviewed boolean DEFAULT false NOT NULL,
    admin_reviewed boolean DEFAULT false NOT NULL,
    physically_filed boolean DEFAULT false NOT NULL,
    digitally_archived boolean DEFAULT false NOT NULL,
    printed_at timestamp with time zone,
    security_reviewed_at timestamp with time zone,
    finance_reviewed_at timestamp with time zone,
    admin_reviewed_at timestamp with time zone,
    physically_filed_at timestamp with time zone,
    digitally_archived_at timestamp with time zone,
    review_stage character varying(30) DEFAULT 'received'::character varying NOT NULL,
    workflow_notes text,
    filed_reference character varying(255),
    received_by_user_id integer,
    received_email_subject character varying(500),
    received_email_from character varying(255),
    received_on_email_at timestamp with time zone,
    digital_file_name character varying(255),
    digital_file_reference character varying(500),
    archived_by_user_id integer,
    archived_at timestamp with time zone,
    CONSTRAINT route_customer_applications_requested_credit_limit_check CHECK ((requested_credit_limit >= (0)::numeric)),
    CONSTRAINT route_customer_applications_status_check CHECK (((status)::text = ANY ((ARRAY['pending'::character varying, 'under_review'::character varying, 'approved'::character varying, 'rejected'::character varying])::text[]))),
    CONSTRAINT route_customer_applications_submitted_via_check CHECK (((submitted_via)::text = ANY ((ARRAY['email'::character varying, 'upload'::character varying, 'manual'::character varying])::text[])))
);


ALTER TABLE public.route_customer_applications OWNER TO ecommerce_app;

--
-- Name: route_customer_applications_id_seq; Type: SEQUENCE; Schema: public; Owner: ecommerce_app
--

ALTER TABLE public.route_customer_applications ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.route_customer_applications_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: route_customer_credit_profiles; Type: TABLE; Schema: public; Owner: ecommerce_app
--

CREATE TABLE public.route_customer_credit_profiles (
    id integer NOT NULL,
    customer_id integer NOT NULL,
    credit_limit numeric(12,2) DEFAULT 0 NOT NULL,
    is_credit_active boolean DEFAULT true NOT NULL,
    credit_notes text,
    created_by_user_id integer,
    updated_by_user_id integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT route_customer_credit_profiles_credit_limit_check CHECK ((credit_limit >= (0)::numeric))
);


ALTER TABLE public.route_customer_credit_profiles OWNER TO ecommerce_app;

--
-- Name: route_customer_credit_profiles_id_seq; Type: SEQUENCE; Schema: public; Owner: ecommerce_app
--

ALTER TABLE public.route_customer_credit_profiles ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.route_customer_credit_profiles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: route_customer_financial_summary; Type: VIEW; Schema: public; Owner: ecommerce_app
--

CREATE VIEW public.route_customer_financial_summary AS
 SELECT c.id AS customer_id,
    c.name AS customer_name,
    c.email,
    c.phone,
    c.location_id,
    l.name AS location_name,
    r.id AS region_id,
    r.name AS region_name,
    (COALESCE(cp.credit_limit, (0)::numeric))::numeric(12,2) AS credit_limit,
    (COALESCE(sum(
        CASE
            WHEN ((o.order_type)::text = 'route'::text) THEN o.total_amount
            ELSE (0)::numeric
        END), (0)::numeric))::numeric(12,2) AS total_ordered_value,
    (COALESCE(sum(
        CASE
            WHEN ((o.order_type)::text = 'route'::text) THEN COALESCE(o.amount_paid, (0)::numeric)
            ELSE (0)::numeric
        END), (0)::numeric))::numeric(12,2) AS total_paid_value,
    (COALESCE(sum(
        CASE
            WHEN ((o.order_type)::text = 'route'::text) THEN GREATEST((COALESCE(o.total_amount, (0)::numeric) - COALESCE(o.amount_paid, (0)::numeric)), (0)::numeric)
            ELSE (0)::numeric
        END), (0)::numeric))::numeric(12,2) AS current_balance,
    (COALESCE(sum(
        CASE
            WHEN (((o.order_type)::text = 'route'::text) AND (o.due_date IS NOT NULL) AND (o.due_date < CURRENT_DATE)) THEN GREATEST((COALESCE(o.total_amount, (0)::numeric) - COALESCE(o.amount_paid, (0)::numeric)), (0)::numeric)
            ELSE (0)::numeric
        END), (0)::numeric))::numeric(12,2) AS overdue_balance,
    (GREATEST((COALESCE(cp.credit_limit, (0)::numeric) - COALESCE(sum(
        CASE
            WHEN ((o.order_type)::text = 'route'::text) THEN GREATEST((COALESCE(o.total_amount, (0)::numeric) - COALESCE(o.amount_paid, (0)::numeric)), (0)::numeric)
            ELSE (0)::numeric
        END), (0)::numeric)), (0)::numeric))::numeric(12,2) AS available_credit,
    count(DISTINCT
        CASE
            WHEN ((o.order_type)::text = 'route'::text) THEN o.id
            ELSE NULL::integer
        END) AS total_route_orders,
    max(
        CASE
            WHEN ((o.order_type)::text = 'route'::text) THEN o.created_at
            ELSE NULL::timestamp without time zone
        END) AS last_route_order_at
   FROM ((((public.customers c
     LEFT JOIN public.route_customer_credit_profiles cp ON ((cp.customer_id = c.id)))
     LEFT JOIN public.locations l ON ((l.id = c.location_id)))
     LEFT JOIN public.regions r ON ((r.id = l.region_id)))
     LEFT JOIN public.orders o ON ((o.customer_id = c.id)))
  WHERE ((c.customer_type)::text = 'route'::text)
  GROUP BY c.id, c.name, c.email, c.phone, c.location_id, l.name, r.id, r.name, cp.credit_limit;


ALTER VIEW public.route_customer_financial_summary OWNER TO ecommerce_app;

--
-- Name: route_customer_login_audit; Type: TABLE; Schema: public; Owner: ecommerce_app
--

CREATE TABLE public.route_customer_login_audit (
    id integer NOT NULL,
    account_id integer,
    customer_id integer,
    login_status character varying(20) NOT NULL,
    failure_reason character varying(255),
    ip_address character varying(64),
    user_agent text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT route_customer_login_audit_login_status_check CHECK (((login_status)::text = ANY ((ARRAY['success'::character varying, 'failed'::character varying])::text[])))
);


ALTER TABLE public.route_customer_login_audit OWNER TO ecommerce_app;

--
-- Name: route_customer_login_audit_id_seq; Type: SEQUENCE; Schema: public; Owner: ecommerce_app
--

ALTER TABLE public.route_customer_login_audit ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.route_customer_login_audit_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: routes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.routes (
    id integer NOT NULL,
    name text NOT NULL,
    description text,
    sales_rep_id integer NOT NULL,
    status character varying(20) DEFAULT 'active'::character varying,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT routes_status_check CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'inactive'::character varying])::text[])))
);


ALTER TABLE public.routes OWNER TO postgres;

--
-- Name: routes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.routes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.routes_id_seq OWNER TO postgres;

--
-- Name: routes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.routes_id_seq OWNED BY public.routes.id;


--
-- Name: sales_rep_locations; Type: TABLE; Schema: public; Owner: ecommerce_app
--

CREATE TABLE public.sales_rep_locations (
    id integer NOT NULL,
    sales_rep_id integer NOT NULL,
    latitude numeric(10,8) NOT NULL,
    longitude numeric(11,8) NOT NULL,
    accuracy_meters numeric(10,2),
    speed_kph numeric(10,2),
    heading_degrees numeric(10,2),
    battery_level integer,
    source character varying(30) DEFAULT 'web'::character varying NOT NULL,
    recorded_at timestamp with time zone DEFAULT now() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.sales_rep_locations OWNER TO ecommerce_app;

--
-- Name: sales_rep_locations_id_seq; Type: SEQUENCE; Schema: public; Owner: ecommerce_app
--

CREATE SEQUENCE public.sales_rep_locations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sales_rep_locations_id_seq OWNER TO ecommerce_app;

--
-- Name: sales_rep_locations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ecommerce_app
--

ALTER SEQUENCE public.sales_rep_locations_id_seq OWNED BY public.sales_rep_locations.id;


--
-- Name: sales_reps; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sales_reps (
    id integer NOT NULL,
    name text NOT NULL,
    phone_number character varying(20),
    email character varying(100),
    status character varying(20) DEFAULT 'active'::character varying,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT sales_reps_status_check CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'inactive'::character varying])::text[])))
);


ALTER TABLE public.sales_reps OWNER TO postgres;

--
-- Name: sales_reps_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.sales_reps_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sales_reps_id_seq OWNER TO postgres;

--
-- Name: sales_reps_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.sales_reps_id_seq OWNED BY public.sales_reps.id;


--
-- Name: stock_movements; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stock_movements (
    id integer NOT NULL,
    product_id integer NOT NULL,
    movement_type character varying(50) NOT NULL,
    quantity integer NOT NULL,
    reference_id integer,
    reference_type character varying(50),
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT stock_movements_movement_type_check CHECK (((movement_type)::text = ANY ((ARRAY['in'::character varying, 'out'::character varying, 'adjustment'::character varying])::text[])))
);


ALTER TABLE public.stock_movements OWNER TO postgres;

--
-- Name: stock_movements_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.stock_movements_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.stock_movements_id_seq OWNER TO postgres;

--
-- Name: stock_movements_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.stock_movements_id_seq OWNED BY public.stock_movements.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying(100) NOT NULL,
    password_hash character varying(255) NOT NULL,
    first_name character varying(50),
    last_name character varying(50),
    phone_number character varying(20),
    role character varying(50) DEFAULT 'user'::character varying,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    can_manage_admins boolean DEFAULT false,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['admin'::character varying, 'sales_rep'::character varying, 'user'::character varying, 'superuser'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: activity_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity_logs ALTER COLUMN id SET DEFAULT nextval('public.activity_logs_id_seq'::regclass);


--
-- Name: categories id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories ALTER COLUMN id SET DEFAULT nextval('public.categories_id_seq'::regclass);


--
-- Name: customer_purchases id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_purchases ALTER COLUMN id SET DEFAULT nextval('public.customer_purchases_id_seq'::regclass);


--
-- Name: customer_visits id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_visits ALTER COLUMN id SET DEFAULT nextval('public.customer_visits_id_seq'::regclass);


--
-- Name: customers id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers ALTER COLUMN id SET DEFAULT nextval('public.customers_id_seq'::regclass);


--
-- Name: departments id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments ALTER COLUMN id SET DEFAULT nextval('public.departments_id_seq'::regclass);


--
-- Name: locations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.locations ALTER COLUMN id SET DEFAULT nextval('public.locations_id_seq'::regclass);


--
-- Name: order_item_pricing_audit id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_item_pricing_audit ALTER COLUMN id SET DEFAULT nextval('public.order_item_pricing_audit_id_seq'::regclass);


--
-- Name: order_items id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items ALTER COLUMN id SET DEFAULT nextval('public.order_items_id_seq'::regclass);


--
-- Name: orders id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders ALTER COLUMN id SET DEFAULT nextval('public.orders_id_seq'::regclass);


--
-- Name: payments id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments ALTER COLUMN id SET DEFAULT nextval('public.payments_id_seq'::regclass);


--
-- Name: product_price_tiers id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_price_tiers ALTER COLUMN id SET DEFAULT nextval('public.product_price_tiers_id_seq'::regclass);


--
-- Name: products id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products ALTER COLUMN id SET DEFAULT nextval('public.products_id_seq'::regclass);


--
-- Name: regions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.regions ALTER COLUMN id SET DEFAULT nextval('public.regions_id_seq'::regclass);


--
-- Name: route_customer_application_events id; Type: DEFAULT; Schema: public; Owner: ecommerce_app
--

ALTER TABLE ONLY public.route_customer_application_events ALTER COLUMN id SET DEFAULT nextval('public.route_customer_application_events_id_seq'::regclass);


--
-- Name: route_customer_application_files id; Type: DEFAULT; Schema: public; Owner: ecommerce_app
--

ALTER TABLE ONLY public.route_customer_application_files ALTER COLUMN id SET DEFAULT nextval('public.route_customer_application_files_id_seq'::regclass);


--
-- Name: routes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.routes ALTER COLUMN id SET DEFAULT nextval('public.routes_id_seq'::regclass);


--
-- Name: sales_rep_locations id; Type: DEFAULT; Schema: public; Owner: ecommerce_app
--

ALTER TABLE ONLY public.sales_rep_locations ALTER COLUMN id SET DEFAULT nextval('public.sales_rep_locations_id_seq'::regclass);


--
-- Name: sales_reps id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sales_reps ALTER COLUMN id SET DEFAULT nextval('public.sales_reps_id_seq'::regclass);


--
-- Name: stock_movements id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_movements ALTER COLUMN id SET DEFAULT nextval('public.stock_movements_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: activity_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: blog_posts; Type: TABLE DATA; Schema: public; Owner: ecommerce_app
--

COPY public.blog_posts (id, title, slug, excerpt, content, featured_image_url, associated_product_id, status, published_at, created_by_user_id, created_at, updated_at) FROM stdin;
1	serum	serum	\N	nihilgovffv8yf	\N	\N	published	2026-04-20 22:30:45.998+03	4	2026-04-20 22:30:45.999568+03	2026-04-20 22:30:45.999568+03
\.


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: customer_purchases; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.customer_purchases (id, customer_id, order_id, purchase_amount, purchase_date, created_at) FROM stdin;
\.


--
-- Data for Name: customer_visits; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.customer_visits (id, customer_id, sales_rep_id, visit_date, notes, created_at) FROM stdin;
\.


--
-- Data for Name: customers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: departments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: flash_sale_products; Type: TABLE DATA; Schema: public; Owner: ecommerce_app
--

COPY public.flash_sale_products (id, flash_sale_id, product_id, created_at) FROM stdin;
\.


--
-- Data for Name: flash_sales; Type: TABLE DATA; Schema: public; Owner: ecommerce_app
--

COPY public.flash_sales (id, name, description, discount_type, discount_value, start_date, end_date, is_active, created_by_user_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: locations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: order_item_pricing_audit; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: order_items; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: product_price_tiers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.product_price_tiers (id, product_id, min_qty, max_qty, unit_price, created_at, updated_at) FROM stdin;
6	6	1	12	43.00	2026-03-08 15:47:57.549668+03	2026-03-08 15:47:57.549668+03
7	6	13	100	42.00	2026-03-08 15:48:25.879516+03	2026-03-08 15:48:25.879516+03
8	6	101	100000	41.99	2026-03-08 15:48:54.457809+03	2026-03-08 15:48:54.457809+03
9	8	1	5	100.00	2026-03-22 11:55:42.142881+03	2026-03-22 11:55:42.142881+03
10	8	6	12	50.00	2026-03-22 11:56:01.151968+03	2026-03-22 11:56:01.151968+03
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: regions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.regions (id, name, description, latitude, longitude, status, created_at, updated_at) FROM stdin;
1	UKAMBANI	\N	\N	\N	active	2026-03-08 22:15:07.689275+03	2026-03-08 22:15:31.2215+03
2	TAVETA	\N	\N	\N	active	2026-03-22 12:12:30.428896+03	2026-03-22 12:12:30.428896+03
3	TAITA	\N	\N	\N	active	2026-03-22 12:12:40.943904+03	2026-03-22 12:12:40.943904+03
4	HIGHWAY	\N	\N	\N	active	2026-03-22 12:13:02.430873+03	2026-03-22 12:13:02.430873+03
5	MWATATE	\N	\N	\N	active	2026-03-22 12:13:19.40773+03	2026-03-22 12:13:19.40773+03
\.


--
-- Data for Name: route_customer_accounts; Type: TABLE DATA; Schema: public; Owner: ecommerce_app
--



--
-- Data for Name: route_customer_application_events; Type: TABLE DATA; Schema: public; Owner: ecommerce_app
--

COPY public.route_customer_application_events (id, application_id, event_type, event_label, event_notes, actor_user_id, metadata_json, created_at) FROM stdin;
\.


--
-- Data for Name: route_customer_application_files; Type: TABLE DATA; Schema: public; Owner: ecommerce_app
--

COPY public.route_customer_application_files (id, application_id, file_type, original_name, stored_name, relative_path, mime_type, file_size, uploaded_by_user_id, created_at) FROM stdin;
\.


--
-- Data for Name: route_customer_applications; Type: TABLE DATA; Schema: public; Owner: ecommerce_app
--



--
-- Data for Name: route_customer_credit_profiles; Type: TABLE DATA; Schema: public; Owner: ecommerce_app
--

COPY public.route_customer_credit_profiles (id, customer_id, credit_limit, is_credit_active, credit_notes, created_by_user_id, updated_by_user_id, created_at, updated_at) FROM stdin;
2	4	2500.00	t	\N	4	4	2026-04-08 23:07:22.76152+03	2026-04-08 23:07:22.76152+03
1	1	50000.00	t	\N	4	4	2026-04-05 19:58:34.769691+03	2026-04-10 21:07:31.923506+03
4	3	40000.00	t	\N	4	4	2026-04-10 21:16:41.043579+03	2026-04-10 21:16:41.043579+03
\.


--
-- Data for Name: route_customer_login_audit; Type: TABLE DATA; Schema: public; Owner: ecommerce_app
--



--
-- Data for Name: routes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.routes (id, name, description, sales_rep_id, status, created_at, updated_at) FROM stdin;
1	UKAMBANI ROUTE	\N	1	active	2026-03-08 17:34:31.457304+03	2026-03-08 17:34:50.113527+03
\.


--
-- Data for Name: sales_rep_locations; Type: TABLE DATA; Schema: public; Owner: ecommerce_app
--

COPY public.sales_rep_locations (id, sales_rep_id, latitude, longitude, accuracy_meters, speed_kph, heading_degrees, battery_level, source, recorded_at, created_at) FROM stdin;
1	1	-3.37620000	38.55680000	12.50	\N	\N	\N	manual_test	2026-03-25 20:28:49.935691+03	2026-03-25 20:28:49.935691+03
2	1	-3.37620000	38.55680000	12.50	18.30	140.00	78	manual_test	2026-03-29 07:44:10.226351+03	2026-03-29 07:44:10.226351+03
\.


--
-- Data for Name: sales_reps; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: stock_movements; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stock_movements (id, product_id, movement_type, quantity, reference_id, reference_type, notes, created_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: activity_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.activity_logs_id_seq', 7, true);


--
-- Name: blog_posts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ecommerce_app
--

SELECT pg_catalog.setval('public.blog_posts_id_seq', 1, true);


--
-- Name: categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.categories_id_seq', 11, true);


--
-- Name: customer_purchases_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.customer_purchases_id_seq', 1, false);


--
-- Name: customer_visits_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.customer_visits_id_seq', 1, false);


--
-- Name: customers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.customers_id_seq', 8, true);


--
-- Name: departments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.departments_id_seq', 22, true);


--
-- Name: flash_sale_products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ecommerce_app
--

SELECT pg_catalog.setval('public.flash_sale_products_id_seq', 1, false);


--
-- Name: flash_sales_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ecommerce_app
--

SELECT pg_catalog.setval('public.flash_sales_id_seq', 1, false);


--
-- Name: locations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.locations_id_seq', 7, true);


--
-- Name: order_item_pricing_audit_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.order_item_pricing_audit_id_seq', 62, true);


--
-- Name: order_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.order_items_id_seq', 64, true);


--
-- Name: orders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.orders_id_seq', 56, true);


--
-- Name: payments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.payments_id_seq', 36, true);


--
-- Name: product_price_tiers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_price_tiers_id_seq', 10, true);


--
-- Name: products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_id_seq', 10, true);


--
-- Name: regions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.regions_id_seq', 6, true);


--
-- Name: route_customer_accounts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ecommerce_app
--

SELECT pg_catalog.setval('public.route_customer_accounts_id_seq', 3, true);


--
-- Name: route_customer_application_events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ecommerce_app
--

SELECT pg_catalog.setval('public.route_customer_application_events_id_seq', 1, false);


--
-- Name: route_customer_application_files_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ecommerce_app
--

SELECT pg_catalog.setval('public.route_customer_application_files_id_seq', 1, false);


--
-- Name: route_customer_applications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ecommerce_app
--

SELECT pg_catalog.setval('public.route_customer_applications_id_seq', 1, true);


--
-- Name: route_customer_credit_profiles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ecommerce_app
--

SELECT pg_catalog.setval('public.route_customer_credit_profiles_id_seq', 4, true);


--
-- Name: route_customer_login_audit_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ecommerce_app
--

SELECT pg_catalog.setval('public.route_customer_login_audit_id_seq', 57, true);


--
-- Name: routes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.routes_id_seq', 1, true);


--
-- Name: sales_rep_locations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ecommerce_app
--

SELECT pg_catalog.setval('public.sales_rep_locations_id_seq', 2, true);


--
-- Name: sales_reps_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.sales_reps_id_seq', 7, true);


--
-- Name: stock_movements_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stock_movements_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 6, true);


--
-- Name: activity_logs activity_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT activity_logs_pkey PRIMARY KEY (id);


--
-- Name: blog_posts blog_posts_pkey; Type: CONSTRAINT; Schema: public; Owner: ecommerce_app
--

ALTER TABLE ONLY public.blog_posts
    ADD CONSTRAINT blog_posts_pkey PRIMARY KEY (id);


--
-- Name: blog_posts blog_posts_slug_unique; Type: CONSTRAINT; Schema: public; Owner: ecommerce_app
--

ALTER TABLE ONLY public.blog_posts
    ADD CONSTRAINT blog_posts_slug_unique UNIQUE (slug);


--
-- Name: categories categories_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_name_key UNIQUE (name);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: customer_purchases customer_purchases_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_purchases
    ADD CONSTRAINT customer_purchases_pkey PRIMARY KEY (id);


--
-- Name: customer_visits customer_visits_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_visits
    ADD CONSTRAINT customer_visits_pkey PRIMARY KEY (id);


--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (id);


--
-- Name: departments departments_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_name_key UNIQUE (name);


--
-- Name: departments departments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_pkey PRIMARY KEY (id);


--
-- Name: flash_sale_products flash_sale_products_pkey; Type: CONSTRAINT; Schema: public; Owner: ecommerce_app
--

ALTER TABLE ONLY public.flash_sale_products
    ADD CONSTRAINT flash_sale_products_pkey PRIMARY KEY (id);


--
-- Name: flash_sale_products flash_sale_products_unique; Type: CONSTRAINT; Schema: public; Owner: ecommerce_app
--

ALTER TABLE ONLY public.flash_sale_products
    ADD CONSTRAINT flash_sale_products_unique UNIQUE (flash_sale_id, product_id);


--
-- Name: flash_sales flash_sales_pkey; Type: CONSTRAINT; Schema: public; Owner: ecommerce_app
--

ALTER TABLE ONLY public.flash_sales
    ADD CONSTRAINT flash_sales_pkey PRIMARY KEY (id);


--
-- Name: locations locations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.locations
    ADD CONSTRAINT locations_pkey PRIMARY KEY (id);


--
-- Name: locations locations_region_id_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.locations
    ADD CONSTRAINT locations_region_id_name_key UNIQUE (region_id, name);


--
-- Name: order_item_pricing_audit order_item_pricing_audit_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_item_pricing_audit
    ADD CONSTRAINT order_item_pricing_audit_pkey PRIMARY KEY (id);


--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (id);


--
-- Name: orders orders_order_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_order_number_key UNIQUE (order_number);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: payments payments_checkout_request_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_checkout_request_id_key UNIQUE (checkout_request_id);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: product_price_tiers product_price_tiers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_price_tiers
    ADD CONSTRAINT product_price_tiers_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: products products_sku_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_sku_key UNIQUE (sku);


--
-- Name: regions regions_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.regions
    ADD CONSTRAINT regions_name_key UNIQUE (name);


--
-- Name: regions regions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.regions
    ADD CONSTRAINT regions_pkey PRIMARY KEY (id);


--
-- Name: route_customer_accounts route_customer_accounts_customer_id_key; Type: CONSTRAINT; Schema: public; Owner: ecommerce_app
--

ALTER TABLE ONLY public.route_customer_accounts
    ADD CONSTRAINT route_customer_accounts_customer_id_key UNIQUE (customer_id);


--
-- Name: route_customer_accounts route_customer_accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: ecommerce_app
--

ALTER TABLE ONLY public.route_customer_accounts
    ADD CONSTRAINT route_customer_accounts_pkey PRIMARY KEY (id);


--
-- Name: route_customer_application_events route_customer_application_events_pkey; Type: CONSTRAINT; Schema: public; Owner: ecommerce_app
--

ALTER TABLE ONLY public.route_customer_application_events
    ADD CONSTRAINT route_customer_application_events_pkey PRIMARY KEY (id);


--
-- Name: route_customer_application_files route_customer_application_files_pkey; Type: CONSTRAINT; Schema: public; Owner: ecommerce_app
--

ALTER TABLE ONLY public.route_customer_application_files
    ADD CONSTRAINT route_customer_application_files_pkey PRIMARY KEY (id);


--
-- Name: route_customer_applications route_customer_applications_pkey; Type: CONSTRAINT; Schema: public; Owner: ecommerce_app
--

ALTER TABLE ONLY public.route_customer_applications
    ADD CONSTRAINT route_customer_applications_pkey PRIMARY KEY (id);


--
-- Name: route_customer_credit_profiles route_customer_credit_profiles_customer_id_key; Type: CONSTRAINT; Schema: public; Owner: ecommerce_app
--

ALTER TABLE ONLY public.route_customer_credit_profiles
    ADD CONSTRAINT route_customer_credit_profiles_customer_id_key UNIQUE (customer_id);


--
-- Name: route_customer_credit_profiles route_customer_credit_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: ecommerce_app
--

ALTER TABLE ONLY public.route_customer_credit_profiles
    ADD CONSTRAINT route_customer_credit_profiles_pkey PRIMARY KEY (id);


--
-- Name: route_customer_login_audit route_customer_login_audit_pkey; Type: CONSTRAINT; Schema: public; Owner: ecommerce_app
--

ALTER TABLE ONLY public.route_customer_login_audit
    ADD CONSTRAINT route_customer_login_audit_pkey PRIMARY KEY (id);


--
-- Name: routes routes_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.routes
    ADD CONSTRAINT routes_name_key UNIQUE (name);


--
-- Name: routes routes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.routes
    ADD CONSTRAINT routes_pkey PRIMARY KEY (id);


--
-- Name: sales_rep_locations sales_rep_locations_pkey; Type: CONSTRAINT; Schema: public; Owner: ecommerce_app
--

ALTER TABLE ONLY public.sales_rep_locations
    ADD CONSTRAINT sales_rep_locations_pkey PRIMARY KEY (id);


--
-- Name: sales_reps sales_reps_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sales_reps
    ADD CONSTRAINT sales_reps_pkey PRIMARY KEY (id);


--
-- Name: stock_movements stock_movements_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_movements
    ADD CONSTRAINT stock_movements_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: product_price_tiers ux_product_price_tiers_product_min_qty; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_price_tiers
    ADD CONSTRAINT ux_product_price_tiers_product_min_qty UNIQUE (product_id, min_qty);


--
-- Name: idx_activity_action; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_activity_action ON public.activity_logs USING btree (action);


--
-- Name: idx_activity_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_activity_created_at ON public.activity_logs USING btree (created_at);


--
-- Name: idx_activity_logs_entity; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_activity_logs_entity ON public.activity_logs USING btree (entity_type, entity_id);


--
-- Name: idx_activity_logs_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_activity_logs_user ON public.activity_logs USING btree (user_id);


--
-- Name: idx_activity_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_activity_user_id ON public.activity_logs USING btree (user_id);


--
-- Name: idx_blog_posts_published_at; Type: INDEX; Schema: public; Owner: ecommerce_app
--

CREATE INDEX idx_blog_posts_published_at ON public.blog_posts USING btree (published_at DESC);


--
-- Name: idx_blog_posts_slug; Type: INDEX; Schema: public; Owner: ecommerce_app
--

CREATE INDEX idx_blog_posts_slug ON public.blog_posts USING btree (slug);


--
-- Name: idx_blog_posts_status; Type: INDEX; Schema: public; Owner: ecommerce_app
--

CREATE INDEX idx_blog_posts_status ON public.blog_posts USING btree (status);


--
-- Name: idx_customer_purchases_customer; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customer_purchases_customer ON public.customer_purchases USING btree (customer_id);


--
-- Name: idx_customer_purchases_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customer_purchases_date ON public.customer_purchases USING btree (purchase_date);


--
-- Name: idx_customer_visits_customer; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customer_visits_customer ON public.customer_visits USING btree (customer_id);


--
-- Name: idx_customer_visits_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customer_visits_date ON public.customer_visits USING btree (visit_date);


--
-- Name: idx_customer_visits_sales_rep; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customer_visits_sales_rep ON public.customer_visits USING btree (sales_rep_id);


--
-- Name: idx_customers_location; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customers_location ON public.customers USING btree (location_id);


--
-- Name: idx_customers_route; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customers_route ON public.customers USING btree (route_id);


--
-- Name: idx_customers_sales_rep; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customers_sales_rep ON public.customers USING btree (sales_rep_id);


--
-- Name: idx_customers_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customers_type ON public.customers USING btree (customer_type);


--
-- Name: idx_flash_sale_products_product; Type: INDEX; Schema: public; Owner: ecommerce_app
--

CREATE INDEX idx_flash_sale_products_product ON public.flash_sale_products USING btree (product_id);


--
-- Name: idx_flash_sales_active_dates; Type: INDEX; Schema: public; Owner: ecommerce_app
--

CREATE INDEX idx_flash_sales_active_dates ON public.flash_sales USING btree (is_active, start_date, end_date);


--
-- Name: idx_locations_region; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_locations_region ON public.locations USING btree (region_id);


--
-- Name: idx_locations_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_locations_status ON public.locations USING btree (status);


--
-- Name: idx_order_items_order; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_order_items_order ON public.order_items USING btree (order_id);


--
-- Name: idx_order_items_product; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_order_items_product ON public.order_items USING btree (product_id);


--
-- Name: idx_orders_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_orders_created ON public.orders USING btree (created_at DESC);


--
-- Name: idx_orders_customer; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_orders_customer ON public.orders USING btree (customer_id);


--
-- Name: idx_orders_sales_rep; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_orders_sales_rep ON public.orders USING btree (sales_rep_id);


--
-- Name: idx_orders_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_orders_status ON public.orders USING btree (order_status);


--
-- Name: idx_orders_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_orders_type ON public.orders USING btree (order_type);


--
-- Name: idx_payments_checkout_request_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_payments_checkout_request_id ON public.payments USING btree (checkout_request_id);


--
-- Name: idx_payments_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_payments_created_at ON public.payments USING btree (created_at DESC);


--
-- Name: idx_payments_order; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_payments_order ON public.payments USING btree (order_id);


--
-- Name: idx_payments_order_id_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_payments_order_id_status ON public.payments USING btree (order_id, status);


--
-- Name: idx_product_price_tiers_product_qty; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_product_price_tiers_product_qty ON public.product_price_tiers USING btree (product_id, min_qty, max_qty);


--
-- Name: idx_products_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_category ON public.products USING btree (category_id);


--
-- Name: idx_products_sku; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_sku ON public.products USING btree (sku);


--
-- Name: idx_regions_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_regions_status ON public.regions USING btree (status);


--
-- Name: idx_route_customer_application_events_actor_user_id; Type: INDEX; Schema: public; Owner: ecommerce_app
--

CREATE INDEX idx_route_customer_application_events_actor_user_id ON public.route_customer_application_events USING btree (actor_user_id);


--
-- Name: idx_route_customer_application_events_app_created; Type: INDEX; Schema: public; Owner: ecommerce_app
--

CREATE INDEX idx_route_customer_application_events_app_created ON public.route_customer_application_events USING btree (application_id, created_at DESC);


--
-- Name: idx_route_customer_application_events_application_id; Type: INDEX; Schema: public; Owner: ecommerce_app
--

CREATE INDEX idx_route_customer_application_events_application_id ON public.route_customer_application_events USING btree (application_id);


--
-- Name: idx_route_customer_application_events_created_at; Type: INDEX; Schema: public; Owner: ecommerce_app
--

CREATE INDEX idx_route_customer_application_events_created_at ON public.route_customer_application_events USING btree (created_at DESC);


--
-- Name: idx_route_customer_application_events_event_type; Type: INDEX; Schema: public; Owner: ecommerce_app
--

CREATE INDEX idx_route_customer_application_events_event_type ON public.route_customer_application_events USING btree (event_type);


--
-- Name: idx_route_customer_application_files_application_id; Type: INDEX; Schema: public; Owner: ecommerce_app
--

CREATE INDEX idx_route_customer_application_files_application_id ON public.route_customer_application_files USING btree (application_id);


--
-- Name: idx_route_customer_application_files_file_type; Type: INDEX; Schema: public; Owner: ecommerce_app
--

CREATE INDEX idx_route_customer_application_files_file_type ON public.route_customer_application_files USING btree (file_type);


--
-- Name: idx_route_customer_application_files_uploaded_by_user_id; Type: INDEX; Schema: public; Owner: ecommerce_app
--

CREATE INDEX idx_route_customer_application_files_uploaded_by_user_id ON public.route_customer_application_files USING btree (uploaded_by_user_id);


--
-- Name: idx_route_customer_applications_archived_at; Type: INDEX; Schema: public; Owner: ecommerce_app
--

CREATE INDEX idx_route_customer_applications_archived_at ON public.route_customer_applications USING btree (archived_at);


--
-- Name: idx_route_customer_applications_archived_by_user_id; Type: INDEX; Schema: public; Owner: ecommerce_app
--

CREATE INDEX idx_route_customer_applications_archived_by_user_id ON public.route_customer_applications USING btree (archived_by_user_id);


--
-- Name: idx_route_customer_applications_email; Type: INDEX; Schema: public; Owner: ecommerce_app
--

CREATE INDEX idx_route_customer_applications_email ON public.route_customer_applications USING btree (email);


--
-- Name: idx_route_customer_applications_received_by_user_id; Type: INDEX; Schema: public; Owner: ecommerce_app
--

CREATE INDEX idx_route_customer_applications_received_by_user_id ON public.route_customer_applications USING btree (received_by_user_id);


--
-- Name: idx_route_customer_applications_received_on_email_at; Type: INDEX; Schema: public; Owner: ecommerce_app
--

CREATE INDEX idx_route_customer_applications_received_on_email_at ON public.route_customer_applications USING btree (received_on_email_at);


--
-- Name: idx_route_customer_applications_review_stage; Type: INDEX; Schema: public; Owner: ecommerce_app
--

CREATE INDEX idx_route_customer_applications_review_stage ON public.route_customer_applications USING btree (review_stage);


--
-- Name: idx_route_customer_applications_status; Type: INDEX; Schema: public; Owner: ecommerce_app
--

CREATE INDEX idx_route_customer_applications_status ON public.route_customer_applications USING btree (status);


--
-- Name: idx_route_customer_applications_status_review_stage; Type: INDEX; Schema: public; Owner: ecommerce_app
--

CREATE INDEX idx_route_customer_applications_status_review_stage ON public.route_customer_applications USING btree (status, review_stage);


--
-- Name: idx_route_customer_login_audit_created_at; Type: INDEX; Schema: public; Owner: ecommerce_app
--

CREATE INDEX idx_route_customer_login_audit_created_at ON public.route_customer_login_audit USING btree (created_at DESC);


--
-- Name: idx_route_customer_login_audit_customer_id; Type: INDEX; Schema: public; Owner: ecommerce_app
--

CREATE INDEX idx_route_customer_login_audit_customer_id ON public.route_customer_login_audit USING btree (customer_id);


--
-- Name: idx_routes_sales_rep; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_routes_sales_rep ON public.routes USING btree (sales_rep_id);


--
-- Name: idx_sales_rep_locations_recorded_at; Type: INDEX; Schema: public; Owner: ecommerce_app
--

CREATE INDEX idx_sales_rep_locations_recorded_at ON public.sales_rep_locations USING btree (recorded_at DESC);


--
-- Name: idx_sales_rep_locations_rep_recorded_at; Type: INDEX; Schema: public; Owner: ecommerce_app
--

CREATE INDEX idx_sales_rep_locations_rep_recorded_at ON public.sales_rep_locations USING btree (sales_rep_id, recorded_at DESC);


--
-- Name: idx_stock_movements_product; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_stock_movements_product ON public.stock_movements USING btree (product_id);


--
-- Name: uq_route_customer_accounts_username_lower; Type: INDEX; Schema: public; Owner: ecommerce_app
--

CREATE UNIQUE INDEX uq_route_customer_accounts_username_lower ON public.route_customer_accounts USING btree (lower((username)::text));


--
-- Name: order_items trg_audit_order_item_pricing_insert; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_audit_order_item_pricing_insert AFTER INSERT ON public.order_items FOR EACH ROW EXECUTE FUNCTION public.audit_order_item_pricing_insert();


--
-- Name: order_items trg_lock_order_item_pricing_insert; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_lock_order_item_pricing_insert BEFORE INSERT ON public.order_items FOR EACH ROW EXECUTE FUNCTION public.lock_order_item_pricing_on_insert();


--
-- Name: order_items trg_prevent_order_item_pricing_update; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_prevent_order_item_pricing_update BEFORE UPDATE ON public.order_items FOR EACH ROW EXECUTE FUNCTION public.prevent_order_item_pricing_update();


--
-- Name: activity_logs activity_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT activity_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: blog_posts blog_posts_associated_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ecommerce_app
--

ALTER TABLE ONLY public.blog_posts
    ADD CONSTRAINT blog_posts_associated_product_id_fkey FOREIGN KEY (associated_product_id) REFERENCES public.products(id) ON DELETE SET NULL;


--
-- Name: blog_posts blog_posts_created_by_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ecommerce_app
--

ALTER TABLE ONLY public.blog_posts
    ADD CONSTRAINT blog_posts_created_by_user_id_fkey FOREIGN KEY (created_by_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: customer_purchases customer_purchases_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_purchases
    ADD CONSTRAINT customer_purchases_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE CASCADE;


--
-- Name: customer_purchases customer_purchases_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_purchases
    ADD CONSTRAINT customer_purchases_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id) ON DELETE SET NULL;


--
-- Name: customer_visits customer_visits_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_visits
    ADD CONSTRAINT customer_visits_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE CASCADE;


--
-- Name: customer_visits customer_visits_sales_rep_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_visits
    ADD CONSTRAINT customer_visits_sales_rep_id_fkey FOREIGN KEY (sales_rep_id) REFERENCES public.sales_reps(id) ON DELETE CASCADE;


--
-- Name: customers customers_location_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_location_id_fkey FOREIGN KEY (location_id) REFERENCES public.locations(id) ON DELETE SET NULL;


--
-- Name: customers customers_route_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_route_id_fkey FOREIGN KEY (route_id) REFERENCES public.routes(id) ON DELETE SET NULL;


--
-- Name: customers customers_sales_rep_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_sales_rep_id_fkey FOREIGN KEY (sales_rep_id) REFERENCES public.sales_reps(id) ON DELETE SET NULL;


--
-- Name: flash_sale_products flash_sale_products_flash_sale_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ecommerce_app
--

ALTER TABLE ONLY public.flash_sale_products
    ADD CONSTRAINT flash_sale_products_flash_sale_id_fkey FOREIGN KEY (flash_sale_id) REFERENCES public.flash_sales(id) ON DELETE CASCADE;


--
-- Name: flash_sale_products flash_sale_products_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ecommerce_app
--

ALTER TABLE ONLY public.flash_sale_products
    ADD CONSTRAINT flash_sale_products_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: flash_sales flash_sales_created_by_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ecommerce_app
--

ALTER TABLE ONLY public.flash_sales
    ADD CONSTRAINT flash_sales_created_by_user_id_fkey FOREIGN KEY (created_by_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: locations locations_region_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.locations
    ADD CONSTRAINT locations_region_id_fkey FOREIGN KEY (region_id) REFERENCES public.regions(id) ON DELETE CASCADE;


--
-- Name: order_item_pricing_audit order_item_pricing_audit_order_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_item_pricing_audit
    ADD CONSTRAINT order_item_pricing_audit_order_item_id_fkey FOREIGN KEY (order_item_id) REFERENCES public.order_items(id) ON DELETE CASCADE;


--
-- Name: order_items order_items_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id) ON DELETE CASCADE;


--
-- Name: order_items order_items_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: orders orders_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE SET NULL;


--
-- Name: orders orders_sales_rep_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_sales_rep_id_fkey FOREIGN KEY (sales_rep_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: payments payments_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id) ON DELETE CASCADE;


--
-- Name: product_price_tiers product_price_tiers_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_price_tiers
    ADD CONSTRAINT product_price_tiers_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: products products_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id) ON DELETE CASCADE;


--
-- Name: products products_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.departments(id) ON DELETE SET NULL;


--
-- Name: route_customer_accounts route_customer_accounts_approved_by_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ecommerce_app
--

ALTER TABLE ONLY public.route_customer_accounts
    ADD CONSTRAINT route_customer_accounts_approved_by_user_id_fkey FOREIGN KEY (approved_by_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: route_customer_accounts route_customer_accounts_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ecommerce_app
--

ALTER TABLE ONLY public.route_customer_accounts
    ADD CONSTRAINT route_customer_accounts_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE CASCADE;


--
-- Name: route_customer_applications route_customer_applications_approved_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ecommerce_app
--

ALTER TABLE ONLY public.route_customer_applications
    ADD CONSTRAINT route_customer_applications_approved_customer_id_fkey FOREIGN KEY (approved_customer_id) REFERENCES public.customers(id) ON DELETE SET NULL;


--
-- Name: route_customer_applications route_customer_applications_location_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ecommerce_app
--

ALTER TABLE ONLY public.route_customer_applications
    ADD CONSTRAINT route_customer_applications_location_id_fkey FOREIGN KEY (location_id) REFERENCES public.locations(id) ON DELETE SET NULL;


--
-- Name: route_customer_applications route_customer_applications_region_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ecommerce_app
--

ALTER TABLE ONLY public.route_customer_applications
    ADD CONSTRAINT route_customer_applications_region_id_fkey FOREIGN KEY (region_id) REFERENCES public.regions(id) ON DELETE SET NULL;


--
-- Name: route_customer_applications route_customer_applications_reviewed_by_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ecommerce_app
--

ALTER TABLE ONLY public.route_customer_applications
    ADD CONSTRAINT route_customer_applications_reviewed_by_user_id_fkey FOREIGN KEY (reviewed_by_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: route_customer_credit_profiles route_customer_credit_profiles_created_by_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ecommerce_app
--

ALTER TABLE ONLY public.route_customer_credit_profiles
    ADD CONSTRAINT route_customer_credit_profiles_created_by_user_id_fkey FOREIGN KEY (created_by_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: route_customer_credit_profiles route_customer_credit_profiles_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ecommerce_app
--

ALTER TABLE ONLY public.route_customer_credit_profiles
    ADD CONSTRAINT route_customer_credit_profiles_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE CASCADE;


--
-- Name: route_customer_credit_profiles route_customer_credit_profiles_updated_by_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ecommerce_app
--

ALTER TABLE ONLY public.route_customer_credit_profiles
    ADD CONSTRAINT route_customer_credit_profiles_updated_by_user_id_fkey FOREIGN KEY (updated_by_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: route_customer_login_audit route_customer_login_audit_account_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ecommerce_app
--

ALTER TABLE ONLY public.route_customer_login_audit
    ADD CONSTRAINT route_customer_login_audit_account_id_fkey FOREIGN KEY (account_id) REFERENCES public.route_customer_accounts(id) ON DELETE SET NULL;


--
-- Name: route_customer_login_audit route_customer_login_audit_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ecommerce_app
--

ALTER TABLE ONLY public.route_customer_login_audit
    ADD CONSTRAINT route_customer_login_audit_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE SET NULL;


--
-- Name: routes routes_sales_rep_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.routes
    ADD CONSTRAINT routes_sales_rep_id_fkey FOREIGN KEY (sales_rep_id) REFERENCES public.sales_reps(id) ON DELETE CASCADE;


--
-- Name: sales_rep_locations sales_rep_locations_sales_rep_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ecommerce_app
--

ALTER TABLE ONLY public.sales_rep_locations
    ADD CONSTRAINT sales_rep_locations_sales_rep_id_fkey FOREIGN KEY (sales_rep_id) REFERENCES public.sales_reps(id) ON DELETE CASCADE;


--
-- Name: stock_movements stock_movements_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_movements
    ADD CONSTRAINT stock_movements_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT ALL ON SCHEMA public TO ecommerce_app;


--
-- Name: FUNCTION audit_order_item_pricing_insert(); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.audit_order_item_pricing_insert() TO ecommerce_app;


--
-- Name: FUNCTION get_product_unit_price(p_product_id integer, p_qty integer); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.get_product_unit_price(p_product_id integer, p_qty integer) TO ecommerce_app;


--
-- Name: FUNCTION lock_order_item_pricing_on_insert(); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.lock_order_item_pricing_on_insert() TO ecommerce_app;


--
-- Name: FUNCTION prevent_order_item_pricing_update(); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.prevent_order_item_pricing_update() TO ecommerce_app;


--
-- Name: TABLE activity_logs; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.activity_logs TO ecommerce_app;


--
-- Name: SEQUENCE activity_logs_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.activity_logs_id_seq TO ecommerce_app;


--
-- Name: TABLE categories; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.categories TO ecommerce_app;


--
-- Name: SEQUENCE categories_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.categories_id_seq TO ecommerce_app;


--
-- Name: TABLE customer_purchases; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.customer_purchases TO ecommerce_app;


--
-- Name: SEQUENCE customer_purchases_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.customer_purchases_id_seq TO ecommerce_app;


--
-- Name: TABLE customer_visits; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.customer_visits TO ecommerce_app;


--
-- Name: SEQUENCE customer_visits_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.customer_visits_id_seq TO ecommerce_app;


--
-- Name: TABLE customers; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.customers TO ecommerce_app;


--
-- Name: SEQUENCE customers_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.customers_id_seq TO ecommerce_app;


--
-- Name: TABLE departments; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.departments TO ecommerce_app;


--
-- Name: SEQUENCE departments_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.departments_id_seq TO ecommerce_app;


--
-- Name: TABLE locations; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.locations TO ecommerce_app;


--
-- Name: SEQUENCE locations_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.locations_id_seq TO ecommerce_app;


--
-- Name: TABLE order_item_pricing_audit; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.order_item_pricing_audit TO ecommerce_app;


--
-- Name: SEQUENCE order_item_pricing_audit_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.order_item_pricing_audit_id_seq TO ecommerce_app;


--
-- Name: TABLE order_items; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.order_items TO ecommerce_app;


--
-- Name: SEQUENCE order_items_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.order_items_id_seq TO ecommerce_app;


--
-- Name: TABLE orders; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.orders TO ecommerce_app;


--
-- Name: SEQUENCE orders_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.orders_id_seq TO ecommerce_app;


--
-- Name: TABLE payments; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.payments TO ecommerce_app;


--
-- Name: SEQUENCE payments_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.payments_id_seq TO ecommerce_app;


--
-- Name: TABLE product_price_tiers; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.product_price_tiers TO ecommerce_app;


--
-- Name: SEQUENCE product_price_tiers_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.product_price_tiers_id_seq TO ecommerce_app;


--
-- Name: TABLE products; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.products TO ecommerce_app;


--
-- Name: SEQUENCE products_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.products_id_seq TO ecommerce_app;


--
-- Name: TABLE regions; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.regions TO ecommerce_app;


--
-- Name: SEQUENCE regions_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.regions_id_seq TO ecommerce_app;


--
-- Name: TABLE routes; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.routes TO ecommerce_app;


--
-- Name: SEQUENCE routes_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.routes_id_seq TO ecommerce_app;


--
-- Name: TABLE sales_reps; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.sales_reps TO ecommerce_app;


--
-- Name: SEQUENCE sales_reps_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.sales_reps_id_seq TO ecommerce_app;


--
-- Name: TABLE stock_movements; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.stock_movements TO ecommerce_app;


--
-- Name: SEQUENCE stock_movements_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.stock_movements_id_seq TO ecommerce_app;


--
-- Name: TABLE users; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.users TO ecommerce_app;


--
-- Name: SEQUENCE users_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.users_id_seq TO ecommerce_app;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO ecommerce_app;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON FUNCTIONS TO ecommerce_app;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO ecommerce_app;


--
-- PostgreSQL database dump complete
--

\unrestrict BOUdfHguPdCXnBTyrbsuYoZAoWARf3LZqegOMxdKr70uTm6hdegmFKxa6UMlK3O

